<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings file="settings.config"></appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms loginUrl="login.aspx" defaultUrl="home.aspx" timeout="20"/>
		</authentication>
		<machineKey validationKey="B3DDF321A6DF0A073FCD607ACBB942F65C76C962ADEF3DF803F1135606A4694F4GB1005KP61336580692B57A2600BA2629D1C1767C639C8E7FB4DCD7771F3ERR" decryptionKey="838C019400C3501341B988BAB2C6CACE076FCB104F857515D4B77D82GF34DBAE" validation="SHA1" decryption="AES"/>
		<membership defaultProvider="iVoteLoginProvider" userIsOnlineTimeWindow="30">
			<providers>
				<add name="iVoteLoginProvider" type="iVoteLoginProvider" applicationName="iVoteSystem" enablePasswordRetrieveal="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<clear/>
				<add name="XmlSiteMapProvider" description="Default SiteMap provider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<roleManager enabled="true" defaultProvider="iVoteRoleProvider">
			<providers>
				<clear/>
				<add name="iVoteRoleProvider" type="iVoteRoleProvider"/>
			</providers>
		</roleManager>
		<customErrors mode="Off"/>
	</system.web>
	<location path="Register.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="controlRoom.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="home.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="WTS.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="committees.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
  <location path="committee_election.aspx">
    <system.web>
      <authorization>
        <allow roles="admin,nec,faculty,union,tenured"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
	<location path="users.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="slate.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="ManualPhaseChanger.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="removeFromBallot.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="approvenominations.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Views/Admin/stateless.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Views/Admin/nomination.aspx">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="userinfo.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="CPW.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="petition.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="home.aspx/#">
		<system.web>
			<authorization>
				<allow roles="admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--    <location path="tester.aspx">
        <system.web>
            <authorization>
                <allow roles="admin"/>
                <deny users="*"/>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>-->
	<location path="About.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="false"/>
	</system.webServer>
</configuration>
