footer
{
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding-top: 2em;
	text-align: center;
}

.lineThrough {text-decoration: line-through;}

.buttonrow {margin-bottom: 1.5em;}

#committee_elections .election {
    padding: 1em;
}
#committee_elections .election + .election {
    border-top: 1px solid #eee;
}
#committee_elections .election strong {
    font-size: 1.2em;
}

.juliobuttonbox {
    border-top: 1px solid #ddd;
    padding-top: 1em;
}

#MainContent_EmptyPositions,
#MainContent_positionsList {
    margin-top: 18px;
}


/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.modalBackground
{
    background-color: #8B8888;
    filter: alpha(opacity=70);
    opacity: 0.4;
}

.modalPopup
{
	background-color:White;
	border-width:3px;
	border-style:solid;
	border-color:#673B3B;
	padding:3px;
}
