footer
{
	border-top: 1px solid #eee;
	margin-top: 2em;
	padding-top: 2em;
	text-align: center;
}

.lineThrough {text-decoration: line-through;}

.buttonrow {margin-bottom: 1.5em;}

#committee_elections .election {
    padding: 1em;
}
#committee_elections .election + .election {
    border-top: 1px solid #eee;
}
#committee_elections .election strong {
    font-size: 1.2em;
}

.juliobuttonbox {
    border-top: 1px solid #ddd;
    padding-top: 1em;
}

#MainContent_EmptyPositions,
#MainContent_positionsList {
    margin-top: 18px;
}

.nomination_user {
    padding: 0 0 0.75em 2em;
    position: relative;
}
.nomination_user + .nomination_user {
    border-top: 1px solid #eee;
    padding-top: 0.75em;
}
.nomination_user input {
    position: absolute;
    top: 0.2em;
    left: 0;
}
.nomination_user + .nomination_user input {
    top: 0.8em;
}
.nomination_user strong {
    display: block;
    font-size: 1.1em;
    line-height: 1.4em;
}
.nomination_user p {margin: 0;}

#MainContent_phasedelta div {
    top: -20px;
    left: 10px;
}


/* MISC  
----------------------------------------------------------*/

.clear {clear: both;}

.modalBackground
{
    background-color: #8B8888;
    filter: alpha(opacity=70);
    opacity: 0.4;
}
