a {
    text-decoration:none;
    color: #951716;
}
#notifications
{
    padding: 00px; 
    border: thick double #CC9900;
    background-color: #FFFF99; 
    font-size:18px;
    width:100%;
    min-height: 50px;   
}

/*individual notifications*/
.notification
{
    padding:10px;
}

#functions
{
    padding-top:25px;
    padding-bottom:25px;
}

/*For functionality Columns*/
.column
{
    float:left;
    width:33%;
    min-height:25px;
}

/*Clears floats*/
.clear
{
    clear:both;
}

#bodyCopy
{
    padding-top:25px;
}


/*
    For the slate page
*/
.slateListPositions
   {
       width: 200px;
       height: 375px;
       background-color: White;
       position: relative;
       top: 5px;
       left: 5px;
       float:left;
   }
   .slateListPeople
   {
       width: 195px;
       height: 375px;
       background-color: White;
       position: relative;
       top: 5px;
       padding-left: 5px;
       margin-left: 210px;
       margin-right: auto;
   }
   
   .slateDetailPeople
   {
       width: 280px;
       height: 365px;
       background-color: White;
       position: relative;
       top: -370px;
       margin-left: auto;
       margin-right: 5px;
       padding: 5px;
   }
   
   .bold
   {
       font-weight: bold;
   }
   
/***************************************/

footer {
    text-align: center;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #eee;
}